:root {
  --blue: #6495ed;
  --white: #faf0e6;
  --green: #2e7d32;
  --darkGreen: rgb(32, 87, 35);
}

.box {
  border: solid red ;
}
.sec {
  padding: 5rem 0;
}
.bgPrimary {
  background-color: var(--blue);
}
/* footer {
  background-color: var(--blue);
  display: flex;
  text-align: center;
  align-content: center;

}
 */
